<link href="Application/Styles/Admin/admin-panel.css" rel="stylesheet" />

<div class="container format" id="loadpage" ng-controller="adminPanelController">
    <div class="row">
        <div class="col-lg-12 margin5-top">
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <a class="metrostyle" style="cursor: pointer" href="company">
                            <p class="itemHeader">Компанії</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <a class="metrostyle" style="cursor: pointer" href="organization">
                            <p class="itemHeader">Організації</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <a class="metrostyle" style="cursor: pointer" href="need">
                            <p class="itemHeader">Потреби</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <a class="metrostyle" style="cursor: pointer" href="/socialWorkers">
                            <p class="itemHeader">Соціальна сфера</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row margin3-top">
                <div class="col-lg-3">
                    <div>
                        <a class="metrostyle" style="cursor: pointer" href="users">
                            <p class="itemHeader">Користувачі</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
