 <link href="Application/Styles/AuthenticationStyle.css" rel="stylesheet" />

<div class="row margin7-top margin5-bottom">
    <div class="col-lg-12">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <form name="PwdRecoverForm" ng-hide="show_message" class="auth-form form-horizontal" novalidate>
                <div class="row margin5-bottom">
                    <h2>Відновлення паролю</h2>
                </div>
                <div class="row errortext margin4-bottom" ng-show="responseData != ''">
                    {{responseData}}
                </div>
                <div class="row">
                    <input type="email" name="Email" placeholder="Адреса електронної пошти" ng-model="forgotPassword.Email" required />
                    <div ng-show="PwdRecoverForm.Email.$error.required && NoValid" class="errortext">Будь ласка, заповніть це поле</div>
                    <div ng-show="PwdRecoverForm.Email.$error.email && NoValid" class="errortext">Будь ласка, введіть правильний адрес електронної пошти</div>
                </div>
                <div class="row" ng-click="NoValid = true">
                    <input type="submit" name="Submit" id="Submit" value="Відновити пароль" ng-click="PwdRecoverForm.$valid && ForgotPassword()" ng-disabled="inProgress" />
                </div>
                <div class="row ld-center" ng-show="inProgress">
                    <div class="loader"></div>
                </div>
            </form>

            <div class="success-msg" ng-show="show_message">
                <h1 class="margin5 success-color">Запит надіслано</h1>
                <p>Будь ласка, перевірте вашу електронну пошту, та перейдіть по вказаному посиланню для відновлення паролю</p>
                <br />
                <p class="text-right"><a href="home">На головну</a></p>
            </div>
        </div>
    </div>
</div>
