<link href="Application/Styles/AuthenticationStyle.css" rel="stylesheet" />

<div class="row margin7-top margin5-bottom">
    <div class="col-lg-12">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <form name="ResPwdForm" class="auth-form form-horizontal" novalidate>
                <div class="row margin5-bottom">
                    <h2>Змінити пароль</h2>
                </div>
                <div class="row errortext margin4-bottom" ng-show="responseData != ''">
                    {{message}}
                </div>
                <div class="row">
                    <input type="password" name="Password" ng-maxlength="16" ng-minlength="6" placeholder="Створіть пароль" ng-model="UserData.Password" min="6" required />
                    <div ng-show="ResPwdForm.Password.$error.required  && NoValid" class="errortext">Будь ласка, заповніть це поле</div>
                    <div ng-show="ResPwdForm.$error.minlength  && NoValid" class="errortext">Пароль занадто короткий</div>
                    <div ng-show="ResPwdForm.Password.$error.maxlength && NoValid" class="errortext margin1">Максимальна кількість символів 16</div>
                </div>
                <div class="row">
                    <input type="password" name="ConfirmPassword" ng-minlength="6" ng-maxlength="16" placeholder="Підтвердіть пароль" ng-model="UserData.ConfirmPassword" min="6" required />
                    <div ng-show="ResPwdForm.Password.$error.required  && NoValid" class="errortext">Будь ласка, заповніть це поле</div>
                    <div ng-show="ResPwdForm.$error.minlength  && NoValid" class="errortext">Пароль занадто короткий</div>
                    <div ng-show="ResPwdForm.Password.$viewValue != ResPwdForm.ConfirmPassword.$viewValue && NoValid" class="errortext">Паролі не співпадають</div>
                    <div ng-show="ResPwdForm.ConfirmPassword.$error.maxlength && NoValid" class="errortext margin1">Максимальна кількість символів 16</div>
                </div>
                <div class="row" ng-click="NoValid = true">
                    <input type="submit" name="Submit" id="Submit" value="Змінити пароль" ng-click="ResPwdForm.$valid && ChangePassword()" ng-disabled="inProgress" />
                </div>
                <div class="row ld-center" ng-show="inProgress">
                    <div class="loader"></div>
                </div>
            </form>
        </div>
    </div>
</div>




